extends layout

block content
  .wrapper
    .result
      h1= doubled
    form(action='', method='post')
      label(for='number') Enter a number to double:
      br
      input(type='text', name='number')
      br
      button(type='submit', name='submit') Submit