doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel='stylesheet' href='/static/stylesheets/style.css')
  body
    include includes/header.pug
    block main
    //- if name
    //-   h2 Welcome, #{name}!
    //-   form(action='/goodbye', method='post')
    //-     button(type='submit') Goodbye
    //- block content
    //- include includes/footer.pug




    //- section.namecard
    //-   .namecard-hello
    //-     p.namecard-greeting Welcome, John!
    //-     form.namecard-exit(action='/goodbye' method='POST')
    //-       button(type='submit')
    //-         img(src='img/close.svg')
    //-   h1.namecard-prompt Let's get started
    //-   a.namecard-submit(href='card-front.html') Begin!
