doctype html
html
  head
    title The Recipe Box
    link(href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800", rel="stylesheet")
    //- 1. Link to the framework.css file

    //- 2. Link to the style.css file

  body
    block content
    //- 3. Link to the script.js file
